.navbar {
	display: flex;
	justify-content: space-between;
	height: 5vh;
	padding-top: 3vh;
	padding-bottom: 3vh;
	width: 100%;
	align-items: center;
	background-color: rgba(58, 115, 192, 255);
	color: white;
}